# App
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=agribridge
DB_PASSWORD=agribridge123
DB_NAME=agribridge_db

# JWT
JWT_SECRET=agribridge_jwt_super_secret_2024
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=agribridge_refresh_super_secret_2024
JWT_REFRESH_EXPIRES_IN=7d

# OTP
OTP_EXPIRES_IN_MINUTES=10

# Email
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_email_password_here
MAIL_FROM=noreply@agribridge.com

# Frontend URL
FRONTEND_URL=http://localhost:3001